<br>

# 1. 데이터 탐색

**데이터 셋 조회 및 내용 탐색**

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings

warnings.filterwarnings(action='ignore')
#  warnings.filterwarnings(action='default')

In [3]:
data = pd.read_csv("Busan_Covid-19.csv")

In [4]:
data

,date,day,total_coronic,new_coronic,total_be_cured,deceased,total_negative,isolated,total_released
0,2021-02-18,목,"3,108",17,"2,674",102,"331,206","5,611","101,305"
1,2021-02-17,수,"3,091",26,"2,654",101,"329,558","5,484","100,935"
2,2021-02-16,화,"3,065",17,"2,630",101,"327,898","5,476","100,553"
3,2021-02-15,월,"3,048",19,"2,612",101,"326,509","5,470","100,279"
4,2021-02-14,일,"3,029",15,"2,590",101,"325,223","5,456","99,977"
...,...,...,...,...,...,...,...,...,...
359,2020-02-25,화,51,13,0,0,"1,823",618,21
360,2020-02-24,월,38,22,0,0,"1,499",263,22
361,2020-02-23,일,16,11,0,0,"1,076",145,15
362,2020-02-22,토,5,3,0,0,"1,092",115,15
363,2020-02-21,금,2,2,0,0,613,15,15

In [5]:
print(data.shape)
data.info()

(364, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            364 non-null    object
 1   day             364 non-null    object
 2   total_coronic   364 non-null    object
 3   new_coronic     364 non-null    int64
 4   total_be_cured  364 non-null    object
 5   deceased        364 non-null    int64
 6   total_negative  364 non-null    object
 7   isolated        364 non-null    object
 8   total_released  364 non-null    object
dtypes: int64(2), object(7)
memory usage: 25.7+ KB

In [6]:
data.dtypes

date              object
day               object
total_coronic     object
new_coronic        int64
total_be_cured    object
deceased           int64
total_negative    object
isolated          object
total_released    object
dtype: object

<br>

# 2. Missing Value & NA

**각각의 변수 중에 결측치가 존재할 시 처리 및 제거**

In [7]:
data.isnull().sum()

date              0
day               0
total_coronic     0
new_coronic       0
total_be_cured    0
deceased          0
total_negative    0
isolated          0
total_released    0
dtype: int64

In [8]:
data.isna().sum()

date              0
day               0
total_coronic     0
new_coronic       0
total_be_cured    0
deceased          0
total_negative    0
isolated          0
total_released    0
dtype: int64

데이터 셋에 결측치 및 NA값 모두 존재하지 않음을 알 수 있다.

<br>

# 3. Type Conversion

**각각의 변수 타입에 맞게 모두 변환**

In [9]:
data.groupby('day').size()

day
금    52
목    52
수    52
월    52
일    52
토    52
화    52
dtype: int64

In [10]:
data1 = data[['date', 'day']]
data1

           date day
0    2021-02-18   목
1    2021-02-17   수
2    2021-02-16   화
3    2021-02-15   월
4    2021-02-14   일
..          ...  ..
359  2020-02-25   화
360  2020-02-24   월
361  2020-02-23   일
362  2020-02-22   토
363  2020-02-21   금

[364 rows x 2 columns]

In [11]:
data1 = data1.astype(str)

In [12]:
data1.dtypes

date    object
day     object
dtype: object

In [13]:
data2 = data.iloc[:, 2]
data2

0      3,108
1      3,091
2      3,065
3      3,048
4      3,029
       ...
359       51
360       38
361       16
362        5
363        2
Name: total_coronic, Length: 364, dtype: object

In [14]:
data2 = data2.str.replace(',','').astype('int64')
data2 = data2.apply(pd.to_numeric)
data2

0      3108
1      3091
2      3065
3      3048
4      3029
       ...
359      51
360      38
361      16
362       5
363       2
Name: total_coronic, Length: 364, dtype: int64

In [15]:
data3 = data.iloc[:, 3]
data3

0      17
1      26
2      17
3      19
4      15
       ..
359    13
360    22
361    11
362     3
363     2
Name: new_coronic, Length: 364, dtype: int64

In [16]:
data4 = data.iloc[:, 4]
data4

0      2,674
1      2,654
2      2,630
3      2,612
4      2,590
       ...
359        0
360        0
361        0
362        0
363        0
Name: total_be_cured, Length: 364, dtype: object

In [17]:
data4 = data4.str.replace(',','').astype('int64')
data4 = data4.apply(pd.to_numeric)
data4

0      2674
1      2654
2      2630
3      2612
4      2590
       ...
359       0
360       0
361       0
362       0
363       0
Name: total_be_cured, Length: 364, dtype: int64

In [18]:
data5 = data.iloc[:, 5]
data5

0      102
1      101
2      101
3      101
4      101
      ...
359      0
360      0
361      0
362      0
363      0
Name: deceased, Length: 364, dtype: int64

In [19]:
data6 = data.iloc[:,6:9]
data6.dtypes

total_negative    object
isolated          object
total_released    object
dtype: object

In [20]:
for i in range(0,3):
    data6.iloc[:,i] = data6.iloc[:,i].str.replace(',','').astype('int64')

In [21]:
data6

     total_negative  isolated  total_released
0            331206      5611          101305
1            329558      5484          100935
2            327898      5476          100553
3            326509      5470          100279
4            325223      5456           99977
..              ...       ...             ...
359            1823       618              21
360            1499       263              22
361            1076       145              15
362            1092       115              15
363             613        15              15

[364 rows x 3 columns]

In [22]:
data6 = data6.apply(pd.to_numeric)

In [23]:
data = pd.concat([data1, data2, data3, data4, data5, data6], axis=1)

In [24]:
data

,date,day,total_coronic,new_coronic,total_be_cured,deceased,total_negative,isolated,total_released
0,2021-02-18,목,3108,17,2674,102,331206,5611,101305
1,2021-02-17,수,3091,26,2654,101,329558,5484,100935
2,2021-02-16,화,3065,17,2630,101,327898,5476,100553
3,2021-02-15,월,3048,19,2612,101,326509,5470,100279
4,2021-02-14,일,3029,15,2590,101,325223,5456,99977
...,...,...,...,...,...,...,...,...,...
359,2020-02-25,화,51,13,0,0,1823,618,21
360,2020-02-24,월,38,22,0,0,1499,263,22
361,2020-02-23,일,16,11,0,0,1076,145,15
362,2020-02-22,토,5,3,0,0,1092,115,15
363,2020-02-21,금,2,2,0,0,613,15,15

In [25]:
data.dtypes

date              object
day               object
total_coronic      int64
new_coronic        int64
total_be_cured     int64
deceased           int64
total_negative     int64
isolated           int64
total_released     int64
dtype: object

<br>

# 4. New Variable

**기존 변수를 활용해 새로운 파생 변수 생성**

##### new_be_cured
완치자수(누계)를 활용하여 완치자수(추가) 변수를 생성

In [26]:
data1 = data.total_be_cured
data1

0      2674
1      2654
2      2630
3      2612
4      2590
       ...
359       0
360       0
361       0
362       0
363       0
Name: total_be_cured, Length: 364, dtype: int64

In [27]:
type(data1)

pandas.core.series.Series

In [28]:
data2 = []
data2 = pd.Series(data2)
type(data2)

pandas.core.series.Series

In [29]:
n = len(data1)
n

364

In [30]:
for i in data1.index:
    if i < n-1:
        data2[i] = data1[i]-data1[i+1]
    else :
        data2[i] = data1[i]

In [31]:
data2

0      20
1      24
2      18
3      22
4      11
       ..
359     0
360     0
361     0
362     0
363     0
Length: 364, dtype: int64

In [32]:
len(data2[data2<0])

0

##### new_deceased
사망자수(누계)를 이용하여 사망자수(추가) 변수 생성

In [33]:
data1 = data.deceased
data1

0      102
1      101
2      101
3      101
4      101
      ...
359      0
360      0
361      0
362      0
363      0
Name: deceased, Length: 364, dtype: int64

In [34]:
data6 = []
data6 = pd.Series(data6)
type(data6)

pandas.core.series.Series

In [35]:
n = len(data1)
n

364

In [36]:
for i in data1.index:
    if i < n-1:
        data6[i] = data1[i]-data1[i+1]
    else :
        data6[i] = data1[i]

In [37]:
len(data6[data6<0])

0

##### new_negative
검사결과 음성(누계)를 활용하여 검사결과 음성(추가) 변수 생성

In [38]:
data1 = data.total_negative
data1

0      331206
1      329558
2      327898
3      326509
4      325223
        ...
359      1823
360      1499
361      1076
362      1092
363       613
Name: total_negative, Length: 364, dtype: int64

In [39]:
type(data1)

pandas.core.series.Series

In [40]:
data3 = []
data3 = pd.Series(data3)
type(data3)

pandas.core.series.Series

In [41]:
n = len(data1)
n

364

In [42]:
for i in data1.index:
    if i < n-1:
        data3[i] = data1[i]-data1[i+1]
    else :
        data3[i] = data1[i]

In [43]:
data3

0      1648
1      1660
2      1389
3      1286
4      1387
       ...
359     324
360     423
361     -16
362     479
363     613
Length: 364, dtype: int64

In [44]:
outlier = data3[data3<0]

In [45]:
outlier.index

Int64Index([44, 45, 361], dtype='int64')

In [46]:
len(data3[data3==0])

0

음성판정(누계)에서 다음날로 넘어갔을 때 감소하는 날이 3일 존재한다.  
2021-01-03 ~ 2021-01-05 & 2020-02-22 ~ 2020-02-23  
1번인 경우 : 음성판정받은 사람 -> 갑자기 양성으로 변경  
2번인 경우 : 오류로 그날 추가 음성판정자 수가 0인 경우 BUT, 모든 날에 걸쳐 0인 경우가 없다.  
1번을 선택할 경우 모든 값들이 추가 확진자 수보다 크기 때문에 불가능하다.  
즉, 0으로 구분  
데이터 자체에서 그 전날의 값과 동일하게 변경 이후 다시 생성

In [47]:
data.total_negative[outlier.index[0]] = data.total_negative[outlier.index[1]+1]
data.total_negative[outlier.index[1]] = data.total_negative[outlier.index[1]+1]

In [48]:
data.total_negative[outlier.index[2]] = data.total_negative[outlier.index[2]+1]

In [49]:
data1 = data.total_negative
data1

0      331206
1      329558
2      327898
3      326509
4      325223
        ...
359      1823
360      1499
361      1092
362      1092
363       613
Name: total_negative, Length: 364, dtype: int64

In [50]:
data3 = []
data3 = pd.Series(data3)
type(data3)

pandas.core.series.Series

In [51]:
for i in data1.index:
    if i < n-1:
        data3[i] = data1[i]-data1[i+1]
    else :
        data3[i] = data1[i]

In [52]:
data3

0      1648
1      1660
2      1389
3      1286
4      1387
       ...
359     324
360     407
361       0
362     479
363     613
Length: 364, dtype: int64

0으로 구분했지만 이상치라고 생각하며 분석!!!

In [53]:
data3[data3<0]

Series([], dtype: int64)

##### diagnosed
추가 확진자수와 검사결과 음성(추가)를 합한 인원의 수가 검사를 받은 사람의 수라고 생각   
즉, 검사를 받은 인원수에 대한 변수 생성

In [54]:
data4 = []
data4 = pd.Series(data4)
type(data4)

pandas.core.series.Series

In [55]:
n = len(data1)
n

364

In [56]:
for i in data1.index:
    data4[i] = data.new_coronic[i] + data3[i]

In [57]:
data.new_coronic

0      17
1      26
2      17
3      19
4      15
       ..
359    13
360    22
361    11
362     3
363     2
Name: new_coronic, Length: 364, dtype: int64

In [58]:
data4[data4<0]

Series([], dtype: int64)

In [59]:
data4

0      1665
1      1686
2      1406
3      1305
4      1402
       ...
359     337
360     429
361      11
362     482
363     615
Length: 364, dtype: int64

##### new_released
격리해제(누계)를 활용하여 격리해제(추가) 변수 생성

In [60]:
data1 = data.total_released
data1

0      101305
1      100935
2      100553
3      100279
4       99977
        ...
359        21
360        22
361        15
362        15
363        15
Name: total_released, Length: 364, dtype: int64

In [61]:
type(data1)

pandas.core.series.Series

In [62]:
data5 = []
data5 = pd.Series(data5)
type(data5)

pandas.core.series.Series

In [63]:
n = len(data1)
n

364

In [64]:
for i in data1.index:
    if i < n-1:
        data5[i] = data1[i]-data1[i+1]
    else :
        data5[i] = data1[i]

In [65]:
outlier2 = data5[data5<0]

In [66]:
outlier2.index

Int64Index([359], dtype='int64')

총 352개의 값 중에 1개의 음수 값이 존재합니다.  
누계에서 음수값이 존재함은 불가능하기 때문에 0으로 변경!!  
또한 0으로 변경 시 그 다음날의 값 또한 영향을 받으므로 변경!!

In [67]:
data5[outlier2.index] = 0
data5[outlier2.index-1] = 3

In [68]:
data5.tail(10)

354      2
355    287
356     97
357     31
358      3
359      0
360      7
361      0
362      0
363     15
dtype: int64

In [69]:
data5[data5<0]

Series([], dtype: int64)

In [70]:
# 원 데이터에서도 변경해주자.
data.total_released[outlier2.index] = 22

#### 위의 4개의 변수를 원데이터에 합쳐 새로운 데이터를 생성

In [71]:
data = pd.concat([data[['date', 'day', 'total_coronic', 'new_coronic', 'total_be_cured']],data2,
                 data[['deceased']], data6, data[['total_negative']], data3, data4,
                 data[['isolated', 'total_released']], data5], axis=1)

In [72]:
data.columns = ['date', 'day', 'total_coronic', 'new_coronic', 'total_be_cured', 'new_be_cured', 'deceased', 'new_deceased', 
                'total_negative', 'new_negative', 'diagnosed', 'isolated', 'total_released', 'new_released']

In [73]:
data.dtypes

date              object
day               object
total_coronic      int64
new_coronic        int64
total_be_cured     int64
new_be_cured       int64
deceased           int64
new_deceased       int64
total_negative     int64
new_negative       int64
diagnosed          int64
isolated           int64
total_released     int64
new_released       int64
dtype: object

# 5. Variable Description

<br>

In [74]:
data

,date,day,total_coronic,new_coronic,total_be_cured,new_be_cured,deceased,new_deceased,total_negative,new_negative,diagnosed,isolated,total_released,new_released
0,2021-02-18,목,3108,17,2674,20,102,1,331206,1648,1665,5611,101305,370
1,2021-02-17,수,3091,26,2654,24,101,0,329558,1660,1686,5484,100935,382
2,2021-02-16,화,3065,17,2630,18,101,0,327898,1389,1406,5476,100553,274
3,2021-02-15,월,3048,19,2612,22,101,0,326509,1286,1305,5470,100279,302
4,2021-02-14,일,3029,15,2590,11,101,1,325223,1387,1402,5456,99977,464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2020-02-25,화,51,13,0,0,0,0,1823,324,337,618,22,0
360,2020-02-24,월,38,22,0,0,0,0,1499,407,429,263,22,7
361,2020-02-23,일,16,11,0,0,0,0,1092,0,11,145,15,0
362,2020-02-22,토,5,3,0,0,0,0,1092,479,482,115,15,0
363,2020-02-21,금,2,2,0,0,0,0,613,613,615,15,15,15

In [75]:
data.describe()

,total_coronic,new_coronic,total_be_cured,new_be_cured,deceased,new_deceased,total_negative,new_negative,diagnosed,isolated,total_released,new_released
count,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.00000
mean,664.244505,8.538462,525.868132,7.346154,17.109890,0.280220,112968.903846,909.906593,918.445055,3462.134615,37807.241758,278.31044
std,843.034077,13.476892,679.828518,11.604168,28.652646,0.737462,88237.839224,835.731459,843.493584,1805.060592,28826.322347,203.97430
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,613.000000,0.000000,11.000000,15.000000,15.000000,0.00000
25%,141.000000,0.000000,128.000000,0.000000,3.000000,0.000000,40914.500000,412.500000,414.000000,2464.250000,13018.250000,148.75000
50%,249.000000,2.000000,165.500000,2.000000,3.000000,0.000000,87532.500000,557.500000,562.500000,3074.000000,32423.000000,228.50000
75%,619.500000,11.000000,572.750000,8.000000,15.000000,0.000000,165153.750000,1092.750000,1107.250000,3989.000000,55643.000000,360.50000
max,3108.000000,82.000000,2674.000000,67.000000,102.000000,4.000000,331206.000000,4883.000000,4894.000000,8681.000000,101305.000000,1271.00000

In [76]:
data.dtypes

date              object
day               object
total_coronic      int64
new_coronic        int64
total_be_cured     int64
new_be_cured       int64
deceased           int64
new_deceased       int64
total_negative     int64
new_negative       int64
diagnosed          int64
isolated           int64
total_released     int64
new_released       int64
dtype: object

In [77]:
data.shape

(364, 14)

### 총 14개의 Variable과 2020년 2월 21일부터 오늘 날짜까지의 일 수 만큼의  Observation으로 구성된 데이터 프레임

**date : 날짜**  
2020년 2월 21일부터 2021년 2월 6일까지 총 352일의 자료로 구성되어 있습니다.
<br>

**day : 요일**  
총 352일간의 요일을 나타내고 있습니다.
<br>

**total_coronic : 확진자수(누계)**  
2020년 2월 21일부터 시작해서 매일 매일 코로나 확진자 수의 총합
<br>

**new_coronic : 확진자수(신규)**  
매일 추가로 확진 판정받은 확진자 수
<br>

**total_be_cured : 완치자수(누계)**  
2020년 2월 21일부터 시작해서 매일 매일 코로나 완치자 수의 총합
<br>

**new_be_cured : 완치자수(추가)**  
매일 추가로 완치 판정받은 완치자 수
<br>

**deceased : 사망자수(누계)**  
현재까지 코로나로 인해 사망한 사람 수의 총합
<br>

**new_deceased : 사망자수(추가)**  
매일 추가로 사망한 확진자의 수
<br>

**total_negative : 검사결과 음성(누계)**  
2020년 2월 21일부터 코로나 검사결과 양성이 아닌 음성 판정을 받은 사람 수의 총합
<br>

**new_negative : 검사결과 음성(추가)**  
매일 코로나 검사결과 음성 판정을 받은 인원 수  
총 3개의 `Outlier`가 존재한다. 즉, 이 부분을 제대로 파악해서 분석에 활용할 것!!
<br>

**dianosed : 코로나 검사를 받은 인원수**  
추가 확진자수와 음성판정받은 사람수의 합
<br>

**isolated : 격리중인 인원수**  
코로나 확진자와 밀접한 접촉자로 판단되어 격리 중인 인원의 수
<br>

**total_released : 격리해제 인원수(누계)**  
격리 기간 이후 음성 판정으로 인해 격리가 해제된 사람 수의 총합
<br>

**new_released : 격리해제 인원수(추가)**  
격리 기간을 거쳐 격리 해제된 인원의 수

<br>
<br>

In [78]:
data.to_csv("Busan_Covid-19.csv", index=False)