# 1. Archived Data (데이터 구축)

## BeautifulSoup을 활용

In [1]:
import sys
import os
if not sys.modules.get('requests'):
    os.system('pip3 install requests')
if not sys.modules.get('BeautifulSoup'):
    os.system('pip3 install beautifulsoup4')
from urllib.request import urlopen
from bs4 import BeautifulSoup
if not sys.modules.get('html_table_parser'):
    os.system('pip3 install html_table_parser')
from html_table_parser import parser_functions as parser
import numpy as np
import pandas as pd

In [2]:
url = "https://www.busan.go.kr/covid19/Status02.do"

In [3]:
result = urlopen(url)
html = result.read()
soup = BeautifulSoup(html, 'html.parser')

In [4]:
soup

<!DOCTYPE html>

<html lang="ko">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
<title>부산광역시 코로나19 (BUSAN COVID-19)</title>
<link href="/covid19/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/covid19/resource/assets/vendor/jquery-ui/org/jquery-ui.css" rel="stylesheet"/>
<link href="/covid19/resource/assets/vendor/chart/Chart.css" rel="stylesheet"/>
<link href="/covid19/resource/assets/vendor/slick/slick.css" rel="stylesheet"/>
<link href="/covid19/resource/assets/css/base.css?v=20210206112320" rel="stylesheet"/>
<link href="/covid19/resource/assets/css/layout.css?v=20210206112320" rel="stylesheet"/>
<link href="/covid19/resource/assets/css/common.css?v=20210206112320" rel="stylesheet"/>
<link href="/covid19/resource/assets/css/content.css?v=20210206112320" rel="stylesheet"/>
<script src="/covid19/resource/assets/js/jquery.min.js"></script>
<script src="/covid19/resource/assets/vendor/jquery-ui/org/jquery-ui.js"></script>
<script src="/covid19/resource/assets/vendor/chart/Chart.js"></script>
<script src="/covid19/resource/assets/vendor/slick/slick.js"></script>
<script src="/covid19/resource/assets/js/netfunnel.js"></script>
<script src="/covid19/resource/assets/js/busan.bbs.js"></script>
<script src="/covid19/resource/assets/js/common.js"></script>
<script>
      $(function () {
         var uri = '/Status02.do';
         if (uri != '/Corona19.do') {
            $("html").animate({ scrollTop: $("#container").offset().top + "px" }, 500);
         }
      });
   </script>
</meta></meta></meta></head>
<body>
<a href="#container" id="skip">본문 바로가기</a>
<header id="header">
<a class="header-banner" href="http://www.busan.go.kr/covid19/Prevention07.do">
<div class="header-inner">
<div class="header-banner-title"><span style="color:#ffb900; font-size:1.3em; font-weight:bold;">2단계 + 일부 방역수칙 조정</span> <span>(2.1. ~ 2.14.) </span></div>
</div>
</a>
<div class="header-top">
<div class="header-inner">
<ul class="header-util">
<li class="header-language">
<label class="hidden" for="select-language">언어선택</label>
<select id="select-language">
<option selected="" value="http://english.busan.go.kr/covid-19">English</option>
<option value="http://japanese.busan.go.kr/covid-19">日本語</option>
<option value="http://chinese.busan.go.kr/covid-19">简体中文</option>
</select>
<button><span>GO</span></button>
</li>
<li>
<a href="https://www.facebook.com/BusanCity/" rel="noreferrer noopener" target="_blank" title="새창열림">
<img alt="페이스북" src="/covid19/resource/assets/img/common/ico_facebook.png">
</img></a>
</li>
<li>
<a href="https://twitter.com/BusanCityGovt" rel="noreferrer noopener" target="_blank" title="새창열림">
<img alt="트위터" src="/covid19/resource/assets/img/common/ico_twitter.png">
</img></a>
</li>
<li>
<a href="http://ncov.mohw.go.kr/" rel="noreferrer noopener" target="_blank" title="새창열림">
<img alt="질병관리청" src="/covid19/resource/assets/img/common/logo_kcdc.png">
</img></a>
</li>
</ul>
</div>
</div>
<div class="header-bottom">
<div class="header-inner">
<div class="header-logo">
<a href="http://www.busan.go.kr/index"><img alt="부산광역시" src="/covid19/resource/assets/img/common/logo_busan.png"/></a>
<a href="/covid19"><img alt="코로나19" src="/covid19/resource/assets/img/common/logo_corona.png"/></a>
</div>
<button class="header-nav-btn"><span>메뉴열기</span></button>
<div class="header-nav">
<!--201228 수정-->
<!--210104 수정-->
<div class="header-nav-slogan">
<div class="header-nav-slogan-img-pc">
<img alt="홈으로런
							집으로 달려가면 가장 안전합니다" src="/covid19/resource/assets/img/common/img_homerun.png">
</img></div>
<div class="header-nav-slogan-img-m">
<img alt="홈으로런
							집으로 달려가면 가장 안전합니다" src="/covid19/resource/assets/img/common/img_homerun_m.png">
</img></div>
</div>
<ul class="header-nav-menu">
<li class="active">
<a href="/covid19/Corona19/travelhist.do"><strong>코로나19 현황</strong></a>
<ul>
<li><a href="/covid19/Corona19/travelhist.do">확진자 이동경로</a></li>
<li><a href="/covid19/Course01.do">확진자 현황</a></li>
<li><a href="/covid19/Course02.do">주요집단사례</a></li>
<li><a href="/covid19/Status01.do">확진자 추세</a></li>
<li><a href="https://www.youtube.com/playlist?list=PLEOw-5DGakhOs1peTtgGbw2C1A3H96Xw1" rel="noreferrer noopener" target="_blank" title="새창열림">부산시 상황보고</a></li>
<li class="active"><a href="/covid19/Status02.do">일자별 현황</a></li>
</ul>
</li>
<li>
<a href="/covid19/Prevention07.do"><strong>사회적 거리두기</strong></a>
<ul>
<li><a href="/covid19/Prevention07.do">사회적 거리두기</a></li>
<li><a href="/covid19/Prevention08.do">단계별 기준 및 방역수칙</a></li>
<li><a href="/covid19/Prevention04.do">마스크 착용 의무화</a></li>
<li><a href="/covid19/Campaign.do">마스크 사용 캠페인</a></li>
<li><a href="/covid19/Prevention01.do">예방행동수칙</a></li>
<li><a href="/covid19/Prevention02.do">자가격리자 행동수칙</a></li>
<li><a href="/covid19/Prevention03.do">가족/동거인 행동수칙</a></li>
<li><a href="https://www.safetyreport.go.kr/#safereport/safereport3" rel="noreferrer noopener" target="_blank" title="새창열림">코로나19 신고</a></li>
</ul>
</li>
<li>
<a href="/covid19/Policy05.do"><strong>지원정책</strong></a>
<ul>
<li><a href="/covid19/Policy05.do">부산형 재난지원금(총괄)</a></li>
<li><a href="/covid19/Policy06.do">부산형 플러스지원금</a></li>
<li><a href="/covid19/Policy07.do">취약노동자 자가격리 피해보상금</a></li>
<li><a href="https://www.gov.kr/portal/coronaPolicy/list/svc/indvdl" rel="noreferrer noopener" target="_blank" title="새창열림">정부지원</a></li>
<li><a href="/covid19/Quarantine.do">인터넷 방역단</a></li>
<li><a href="/covid19/Cleanzone.do">클린존 (방역안심시설)</a></li>
</ul>
</li>
<li>
<a href="/covid19/Coronabbs.do"><strong>코로나19 알림</strong></a>
<ul>
<li><a href="/covid19/Coronabbs.do">공지사항</a></li>
<li><a href="/covid19/Corona004.do">코로나19 Q&amp;A;</a></li>
<li><a href="/covid19/Maskqna.do">마스크 의무화 Q&amp;A;</a></li>
<li><a href="/covid19/Clinics02.do">임시선별검사소</a></li>
<li><a href="/covid19/Clinics.do">선별진료소</a></li>
<li><a href="/covid19/Prevention05.do">부산 국민안심병원</a></li>
<li><a href="/covid19/Respiratory.do">부산 호흡기전담클리닉</a></li>
<li><a href="/covid19/Prevention06.do">코로나19 심리지원</a></li>
<li><a href="/covid19/Promotion.do">홍보(서식·앱) 다운로드</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div class="header-nav-background">
</div>
</div>
</header>
<section id="covid-state-area">
<div class="section-inner">
<div class="covid-state-chart">
<p class="covid-state-date">
<span class="item1">
						2월
						6일
						(토)
						10시 발표
					</span>
</p>
<ul class="covid-state-list">
<li class="covid-state-confirmed">
<div class="covid-state-title"><span>신규확진자</span></div>
<div class="covid-state-content">
<div class="covid-state-count">
<span>
<strong>2</strong> 명
								</span>
</div>
<div class="covid-state-total">
<span>총  2,870 명</span>
</div>
</div>
</li>
<li class="covid-state-cured">
<div class="covid-state-title"><span>격리해제 (퇴원)</span></div>
<div class="covid-state-content">
<div class="covid-state-count">
<span>
<strong>0</strong> 명
								</span>
</div>
<div class="covid-state-total">
<span>총 2,409 명</span>
</div>
</div>
</li>
<li class="covid-state-treatment">
<div class="covid-state-title"><span>치료중 (격리중)</span></div>
<div class="covid-state-content">
<div class="covid-state-count">
<span>
<strong>365</strong> 명
								</span>
</div>
</div>
</li>
<li class="covid-state-dead">
<div class="covid-state-title"><span>사 망</span></div>
<div class="covid-state-content">
<div class="covid-state-count">
<span>
<strong>0</strong> 명
								</span>
</div>
<div class="covid-state-total">
<span>총 96 명</span>
</div>
</div>
</li>
</ul>
</div>
<div class="covid-state-table">
<table>
<caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
<thead>
<tr>
<th scope="col">지역</th>
<th scope="col">중구</th>
<th scope="col">서구</th>
<th scope="col">동구</th>
<th scope="col">영도구</th>
<th scope="col">부산진구</th>
<th scope="col">동래구</th>
<th scope="col">남구</th>
<th scope="col">북구</th>
<th scope="col">해운대구</th>
<th scope="col">사하구</th>
<th scope="col">금정구</th>
<th scope="col">강서구</th>
<th scope="col">연제구</th>
<th scope="col">수영구</th>
<th scope="col">사상구</th>
<th scope="col">기장군</th>
<th scope="col">기타</th>
</tr>
</thead>
<tbody>
<tr>
<td>금일</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
</tr>
<tr>
<td>누적</td>
<td>30</td>
<td>63</td>
<td>85</td>
<td>70</td>
<td>301</td>
<td>241</td>
<td>201</td>
<td>178</td>
<td>243</td>
<td>189</td>
<td>172</td>
<td>79</td>
<td>137</td>
<td>128</td>
<td>190</td>
<td>52</td>
<td>511</td>
</tr>
</tbody>
</table>
<table>
<caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
<thead>
<tr>
<th scope="col">지역</th>
<th scope="col">중구</th>
<th scope="col">서구</th>
<th scope="col">동구</th>
<th scope="col">영도구</th>
<th scope="col">부산진구</th>
<th scope="col">동래구</th>
<th scope="col">남구</th>
<th scope="col">북구</th>
<th scope="col">해운대구</th>
<th scope="col">사하구</th>
<th scope="col">금정구</th>
<th scope="col">강서구</th>
<th scope="col">연제구</th>
<th scope="col">수영구</th>
<th scope="col">사상구</th>
<th scope="col">기장군</th>
<th scope="col">기타</th>
</tr>
</thead>
<tbody>
<tr>
<td>금일</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
</tr>
<tr>
<td>누적</td>
<td>30</td>
<td>63</td>
<td>85</td>
<td>70</td>
<td>301</td>
<td>241</td>
<td>201</td>
<td>178</td>
<td>243</td>
<td>189</td>
<td>172</td>
<td>79</td>
<td>137</td>
<td>128</td>
<td>190</td>
<td>52</td>
<td>511</td>
</tr>
</tbody>
</table>
<table>
<caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
<thead>
<tr>
<th scope="col">지역</th>
<th scope="col">중구</th>
<th scope="col">서구</th>
<th scope="col">동구</th>
<th scope="col">영도구</th>
<th scope="col">부산진구</th>
<th scope="col">동래구</th>
<th scope="col">남구</th>
<th scope="col">북구</th>
<th scope="col">해운대구</th>
<th scope="col">사하구</th>
<th scope="col">금정구</th>
<th scope="col">강서구</th>
<th scope="col">연제구</th>
<th scope="col">수영구</th>
<th scope="col">사상구</th>
<th scope="col">기장군</th>
<th scope="col">기타</th>
</tr>
</thead>
<tbody>
<tr>
<td>금일</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1</td>
<td>-</td>
</tr>
<tr>
<td>누적</td>
<td>30</td>
<td>63</td>
<td>85</td>
<td>70</td>
<td>301</td>
<td>241</td>
<td>201</td>
<td>178</td>
<td>243</td>
<td>189</td>
<td>172</td>
<td>79</td>
<td>137</td>
<td>128</td>
<td>190</td>
<td>52</td>
<td>511</td>
</tr>
</tbody>
</table>
</div>
<div class="covid-state-btns">
<a class="button white youtube medium blue" href="https://www.youtube.com/watch?v=59ilu3OiT7s" rel="noopener noreferrer" target="_blank" title="새창열림">`21. 2. 5.(금) 일일상황보고</a>
<a class="button white icon jump medium blue" href="https://www.busan.go.kr/nbtnewsBU/1474778?curPage=&amp;srchBeginDt=2021-01-24&amp;srchEndDt=2021-01-31&amp;srchKey=&amp;srchText=" rel="noopener noreferrer" target="_blank" title="새창열림">사회적 거리두기 2단계 연장 보도자료 전문 (`21. 1. 31.) </a>
<a class="button white icon jump medium green" href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&amp;brdGubun=13&amp;ncvContSeq=&amp;contSeq=&amp;board_id=&amp;gubun=" rel="noopener noreferrer" target="_blank" title="새창열림">코로나19 전국 현황 자세히 보기</a>
</div>
</div>
</section>
<div id="container">
<div class="container-inner">
<div id="contents">
<h3 class="titPage">일자별 현황</h3>
<div class="h4Section">
<p class="boardListTxt">총 <strong class="totalNum">352</strong>건</p>
<div class="scroll-table">
<div>
<table class="table table-hover">
<caption>코로나 일자별 발생현황(날짜, 확진자수(누계,추가),완치자수(누계),사망자수(누계),검사결과:음성(누계),자가격리현황(격리중,격리해제(누계)))에 대한 표입니다.</caption>
<colgroup>
<col style="width:12%;"></col>
<col style="width:4%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
</colgroup>
<thead>
<tr>
<th colspan="2" rowspan="2" scope="col">날짜</th>
<th colspan="2" scope="col">확진자수</th>
<th rowspan="2" scope="col">완치자수(누계)</th>
<th rowspan="2" scope="col">사망자수(누계)</th>
<th rowspan="2" scope="col">검사결과<br>음성(누계)</br></th>
<th class="mo_x" colspan="2" scope="col">자가격리현황</th>
</tr>
<tr>
<th scope="col">누계</th>
<th scope="col">추가</th>
<th class="mo_x" scope="col">격리중</th>
<th class="mo_x" scope="col">격리해제<br>(누계)</br></th>
</tr>
</thead>
<tbody>
<tr>
<td>2021-02-06</td>
<td>토</td>
<td>
		                                    2,870
		                                </td>
<td>
		                                    2
		                                </td>
<td>
		                                    2,409
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    312,706
		                                </td>
<td class="mo_x">
		                                    5,281
		                                </td>
<td class="mo_x">
		                                    96,416
		                                </td>
</tr>
<tr>
<td>2021-02-05</td>
<td>금</td>
<td>
		                                    2,868
		                                </td>
<td>
		                                    15
		                                </td>
<td>
		                                    2,409
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    310,850
		                                </td>
<td class="mo_x">
		                                    5,275
		                                </td>
<td class="mo_x">
		                                    95,983
		                                </td>
</tr>
<tr>
<td>2021-02-04</td>
<td>목</td>
<td>
		                                    2,853
		                                </td>
<td>
		                                    34
		                                </td>
<td>
		                                    2,386
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    308,964
		                                </td>
<td class="mo_x">
		                                    5,289
		                                </td>
<td class="mo_x">
		                                    95,570
		                                </td>
</tr>
<tr>
<td>2021-02-03</td>
<td>수</td>
<td>
		                                    2,819
		                                </td>
<td>
		                                    24
		                                </td>
<td>
		                                    2,366
		                                </td>
<td>
		                                    95
		                                </td>
<td>
		                                    306,300
		                                </td>
<td class="mo_x">
		                                    5,273
		                                </td>
<td class="mo_x">
		                                    95,246
		                                </td>
</tr>
<tr>
<td>2021-02-02</td>
<td>화</td>
<td>
		                                    2,795
		                                </td>
<td>
		                                    21
		                                </td>
<td>
		                                    2,339
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    304,772
		                                </td>
<td class="mo_x">
		                                    5,269
		                                </td>
<td class="mo_x">
		                                    94,753
		                                </td>
</tr>
<tr>
<td>2021-02-01</td>
<td>월</td>
<td>
		                                    2,774
		                                </td>
<td>
		                                    14
		                                </td>
<td>
		                                    2,301
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    302,868
		                                </td>
<td class="mo_x">
		                                    5,370
		                                </td>
<td class="mo_x">
		                                    94,343
		                                </td>
</tr>
<tr>
<td>2021-01-31</td>
<td>일</td>
<td>
		                                    2,760
		                                </td>
<td>
		                                    9
		                                </td>
<td>
		                                    2,291
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    300,977
		                                </td>
<td class="mo_x">
		                                    5,216
		                                </td>
<td class="mo_x">
		                                    93,951
		                                </td>
</tr>
<tr>
<td>2021-01-30</td>
<td>토</td>
<td>
		                                    2,751
		                                </td>
<td>
		                                    26
		                                </td>
<td>
		                                    2,276
		                                </td>
<td>
		                                    93
		                                </td>
<td>
		                                    299,145
		                                </td>
<td class="mo_x">
		                                    5,119
		                                </td>
<td class="mo_x">
		                                    93,606
		                                </td>
</tr>
<tr>
<td>2021-01-29</td>
<td>금</td>
<td>
		                                    2,725
		                                </td>
<td>
		                                    22
		                                </td>
<td>
		                                    2,250
		                                </td>
<td>
		                                    93
		                                </td>
<td>
		                                    296,896
		                                </td>
<td class="mo_x">
		                                    5,319
		                                </td>
<td class="mo_x">
		                                    92,952
		                                </td>
</tr>
<tr>
<td>2021-01-28</td>
<td>목</td>
<td>
		                                    2,703
		                                </td>
<td>
		                                    33
		                                </td>
<td>
		                                    2,213
		                                </td>
<td>
		                                    92
		                                </td>
<td>
		                                    294,575
		                                </td>
<td class="mo_x">
		                                    5,101
		                                </td>
<td class="mo_x">
		                                    92,413
		                                </td>
</tr>
<tr>
<td>2021-01-27</td>
<td>수</td>
<td>
		                                    2,670
		                                </td>
<td>
		                                    52
		                                </td>
<td>
		                                    2,189
		                                </td>
<td>
		                                    90
		                                </td>
<td>

In [5]:
temp = soup.find_all('table')
# print(temp)
temp

[<table>
 <caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
 <thead>
 <tr>
 <th scope="col">지역</th>
 <th scope="col">중구</th>
 <th scope="col">서구</th>
 <th scope="col">동구</th>
 <th scope="col">영도구</th>
 <th scope="col">부산진구</th>
 <th scope="col">동래구</th>
 <th scope="col">남구</th>
 <th scope="col">북구</th>
 <th scope="col">해운대구</th>
 <th scope="col">사하구</th>
 <th scope="col">금정구</th>
 <th scope="col">강서구</th>
 <th scope="col">연제구</th>
 <th scope="col">수영구</th>
 <th scope="col">사상구</th>
 <th scope="col">기장군</th>
 <th scope="col">기타</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>금일</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 </tr>
 <tr>
 <td>누적</td>
 <td>30</td>
 <td>63</td>
 <td>85</td>
 <td>70</td>
 <td>301</td>
 <td>241</td>
 <td>201</td>
 <td>178</td>
 <td>243</td>
 <td>189</td>
 <td>172</td>
 <td>79</td>
 <td>137</td>
 <td>128</td>
 <td>190</td>
 <td>52</td>
 <td>511</td>
 </tr>
 </tbody>
 </table>,
 <table>
 <caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
 <thead>
 <tr>
 <th scope="col">지역</th>
 <th scope="col">중구</th>
 <th scope="col">서구</th>
 <th scope="col">동구</th>
 <th scope="col">영도구</th>
 <th scope="col">부산진구</th>
 <th scope="col">동래구</th>
 <th scope="col">남구</th>
 <th scope="col">북구</th>
 <th scope="col">해운대구</th>
 <th scope="col">사하구</th>
 <th scope="col">금정구</th>
 <th scope="col">강서구</th>
 <th scope="col">연제구</th>
 <th scope="col">수영구</th>
 <th scope="col">사상구</th>
 <th scope="col">기장군</th>
 <th scope="col">기타</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>금일</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 </tr>
 <tr>
 <td>누적</td>
 <td>30</td>
 <td>63</td>
 <td>85</td>
 <td>70</td>
 <td>301</td>
 <td>241</td>
 <td>201</td>
 <td>178</td>
 <td>243</td>
 <td>189</td>
 <td>172</td>
 <td>79</td>
 <td>137</td>
 <td>128</td>
 <td>190</td>
 <td>52</td>
 <td>511</td>
 </tr>
 </tbody>
 </table>,
 <table>
 <caption>구군별 코로나 현황 표 : 강서구, 금정구, 기장군, 남구, 동구, 동래구, 부산진구, 북구, 사상구, 사하구, 서구, 수영구, 연제구, 영도구, 중구, 해운대구, 기타</caption>
 <thead>
 <tr>
 <th scope="col">지역</th>
 <th scope="col">중구</th>
 <th scope="col">서구</th>
 <th scope="col">동구</th>
 <th scope="col">영도구</th>
 <th scope="col">부산진구</th>
 <th scope="col">동래구</th>
 <th scope="col">남구</th>
 <th scope="col">북구</th>
 <th scope="col">해운대구</th>
 <th scope="col">사하구</th>
 <th scope="col">금정구</th>
 <th scope="col">강서구</th>
 <th scope="col">연제구</th>
 <th scope="col">수영구</th>
 <th scope="col">사상구</th>
 <th scope="col">기장군</th>
 <th scope="col">기타</th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>금일</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>-</td>
 <td>1</td>
 <td>-</td>
 </tr>
 <tr>
 <td>누적</td>
 <td>30</td>
 <td>63</td>
 <td>85</td>
 <td>70</td>
 <td>301</td>
 <td>241</td>
 <td>201</td>
 <td>178</td>
 <td>243</td>
 <td>189</td>
 <td>172</td>
 <td>79</td>
 <td>137</td>
 <td>128</td>
 <td>190</td>
 <td>52</td>
 <td>511</td>
 </tr>
 </tbody>
 </table>,
 <table class="table table-hover">
 <caption>코로나 일자별 발생현황(날짜, 확진자수(누계,추가),완치자수(누계),사망자수(누계),검사결과:음성(누계),자가격리현황(격리중,격리해제(누계)))에 대한 표입니다.</caption>
 <colgroup>
 <col style="width:12%;"></col>
 <col style="width:4%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 <col style="width:12%;"></col>
 </colgroup>
 <thead>
 <tr>
 <th colspan="2" rowspan="2" scope="col">날짜</th>
 <th colspan="2" scope="col">확진자수</th>
 <th rowspan="2" scope="col">완치자수(누계)</th>
 <th rowspan="2" scope="col">사망자수(누계)</th>
 <th rowspan="2" scope="col">검사결과<br>음성(누계)</br></th>
 <th class="mo_x" colspan="2" scope="col">자가격리현황</th>
 </tr>
 <tr>
 <th scope="col">누계</th>
 <th scope="col">추가</th>
 <th class="mo_x" scope="col">격리중</th>
 <th class="mo_x" scope="col">격리해제<br>(누계)</br></th>
 </tr>
 </thead>
 <tbody>
 <tr>
 <td>2021-02-06</td>
 <td>토</td>
 <td>
 		                                    2,870
 		                                </td>
 <td>
 		                                    2
 		                                </td>
 <td>
 		                                    2,409
 		                                </td>
 <td>
 		                                    96
 		                                </td>
 <td>
 		                                    312,706
 		                                </td>
 <td class="mo_x">
 		                                    5,281
 		                                </td>
 <td class="mo_x">
 		                                    96,416
 		                                </td>
 </tr>
 <tr>
 <td>2021-02-05</td>
 <td>금</td>
 <td>
 		                                    2,868
 		                                </td>
 <td>
 		                                    15
 		                                </td>
 <td>
 		                                    2,409
 		                                </td>
 <td>
 		                                    96
 		                                </td>
 <td>
 		                                    310,850
 		                                </td>
 <td class="mo_x">
 		                                    5,275
 		                                </td>
 <td class="mo_x">
 		                                    95,983
 		                                </td>
 </tr>
 <tr>
 <td>2021-02-04</td>
 <td>목</td>
 <td>
 		                                    2,853
 		                                </td>
 <td>
 		                                    34
 		                                </td>
 <td>
 		                                    2,386
 		                                </td>
 <td>
 		                                    96
 		                                </td>
 <td>
 		                                    308,964
 		                                </td>
 <td class="mo_x">
 		                                    5,289
 		                                </td>
 <td class="mo_x">
 		                                    95,570
 		                                </td>
 </tr>
 <tr>
 <td>2021-02-03</td>
 <td>수</td>
 <td>
 		                                    2,819
 		                                </td>
 <td>
 		                                    24
 		                                </td>
 <td>
 		                                    2,366
 		                                </td>
 <td>
 		                                    95
 		                                </td>
 <td>
 		                                    306,300
 		                                </td>
 <td class="mo_x">
 		                                    5,273
 		                                </td>
 <td class="mo_x">
 		                                    95,246
 		                                </td>
 </tr>
 <tr>
 <td>2021-02-02</td>
 <td>화</td>
 <td>
 		                                    2,795
 		                                </td>
 <td>
 		                                    21
 		                                </td>
 <td>
 		                                    2,339
 		                                </td>
 <td>
 		                                    94
 		                                </td>
 <td>
 		                                    304,772
 		                                </td>
 <td class="mo_x">
 		                                    5,269
 		                                </td>
 <td class="mo_x">
 		                                    94,753
 		                                </td>
 </tr>
 <tr>
 <td>2021-02-01</td>
 <td>월</td>
 <td>
 		                                    2,774
 		                                </td>
 <td>
 		                                    14
 		                                </td>
 <td>
 		                                    2,301
 		                                </td>
 <td>
 		                                    94
 		                                </td>
 <td>
 		                                    302,868
 		                                </td>
 <td class="mo_x">
 		                                    5,370
 		                                </td>
 <td class="mo_x">
 		                                    94,343
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-31</td>
 <td>일</td>
 <td>
 		                                    2,760
 		                                </td>
 <td>
 		                                    9
 		                                </td>
 <td>
 		                                    2,291
 		                                </td>
 <td>
 		                                    94
 		                                </td>
 <td>
 		                                    300,977
 		                                </td>
 <td class="mo_x">
 		                                    5,216
 		                                </td>
 <td class="mo_x">
 		                                    93,951
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-30</td>
 <td>토</td>
 <td>
 		                                    2,751
 		                                </td>
 <td>
 		                                    26
 		                                </td>
 <td>
 		                                    2,276
 		                                </td>
 <td>
 		                                    93
 		                                </td>
 <td>
 		                                    299,145
 		                                </td>
 <td class="mo_x">
 		                                    5,119
 		                                </td>
 <td class="mo_x">
 		                                    93,606
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-29</td>
 <td>금</td>
 <td>
 		                                    2,725
 		                                </td>
 <td>
 		                                    22
 		                                </td>
 <td>
 		                                    2,250
 		                                </td>
 <td>
 		                                    93
 		                                </td>
 <td>
 		                                    296,896
 		                                </td>
 <td class="mo_x">
 		                                    5,319
 		                                </td>
 <td class="mo_x">
 		                                    92,952
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-28</td>
 <td>목</td>
 <td>
 		                                    2,703
 		                                </td>
 <td>
 		                                    33
 		                                </td>
 <td>
 		                                    2,213
 		                                </td>
 <td>
 		                                    92
 		                                </td>
 <td>
 		                                    294,575
 		                                </td>
 <td class="mo_x">
 		                                    5,101
 		                                </td>
 <td class="mo_x">
 		                                    92,413
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-27</td>
 <td>수</td>
 <td>
 		                                    2,670
 		                                </td>
 <td>
 		                                    52
 		                                </td>
 <td>
 		                                    2,189
 		                                </td>
 <td>
 		                                    90
 		                                </td>
 <td>
 		                                    292,496
 		                                </td>
 <td class="mo_x">
 		                                    5,353
 		                                </td>
 <td class="mo_x">
 		                                    91,722
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-26</td>
 <td>화</td>
 <td>
 		                                    2,618
 		                                </td>
 <td>
 		                                    31
 		                                </td>
 <td>
 		                                    2,155
 		                                </td>
 <td>
 		                                    89
 		                                </td>
 <td>
 		                                    290,399
 		                                </td>
 <td class="mo_x">
 		                                    5,840
 		                                </td>
 <td class="mo_x">
 		                                    90,927
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-25</td>
 <td>월</td>
 <td>
 		                                    2,587
 		                                </td>
 <td>
 		                                    24
 		                                </td>
 <td>
 		                                    2,088
 		                                </td>
 <td>
 		                                    89
 		                                </td>
 <td>
 		                                    288,236
 		                                </td>
 <td class="mo_x">
 		                                    6,171
 		                                </td>
 <td class="mo_x">
 		                                    90,321
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-24</td>
 <td>일</td>
 <td>
 		                                    2,563
 		                                </td>
 <td>
 		                                    23
 		                                </td>
 <td>
 		                                    2,051
 		                                </td>
 <td>
 		                                    88
 		                                </td>
 <td>
 		                                    287,015
 		                                </td>
 <td class="mo_x">
 		                                    6,166
 		                                </td>
 <td class="mo_x">
 		                                    89,977
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-23</td>
 <td>토</td>
 <td>
 		                                    2,540
 		                                </td>
 <td>
 		                                    21
 		                                </td>
 <td>
 		                                    2,026
 		                                </td>
 <td>
 		                                    88
 		                                </td>
 <td>
 		                                    285,273
 		                                </td>
 <td class="mo_x">
 		                                    6,131
 		                                </td>
 <td class="mo_x">
 		                                    89,462
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-22</td>
 <td>금</td>
 <td>
 		                                    2,519
 		                                </td>
 <td>
 		                                    35
 		                                </td>
 <td>
 		                                    2,000
 		                                </td>
 <td>
 		                                    87
 		                                </td>
 <td>
 		                                    282,944
 		                                </td>
 <td class="mo_x">
 		                                    6,417
 		                                </td>
 <td class="mo_x">
 		                                    88,660
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-21</td>
 <td>목</td>
 <td>
 		                                    2,484
 		                                </td>
 <td>
 		                                    22
 		                                </td>
 <td>
 		                                    1,970
 		                                </td>
 <td>
 		                                    87
 		                                </td>
 <td>
 		                                    280,627
 		                                </td>
 <td class="mo_x">
 		                                    6,918
 		                                </td>
 <td class="mo_x">
 		                                    87,817
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-20</td>
 <td>수</td>
 <td>
 		                                    2,462
 		                                </td>
 <td>
 		                                    18
 		                                </td>
 <td>
 		                                    1,951
 		                                </td>
 <td>
 		                                    85
 		                                </td>
 <td>
 		                                    278,702
 		                                </td>
 <td class="mo_x">
 		                                    6,958
 		                                </td>
 <td class="mo_x">
 		                                    87,396
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-19</td>
 <td>화</td>
 <td>
 		                                    2,444
 		                                </td>
 <td>
 		                                    11
 		                                </td>
 <td>
 		                                    1,912
 		                                </td>
 <td>
 		                                    85
 		                                </td>
 <td>
 		                                    277,633
 		                                </td>
 <td class="mo_x">
 		                                    7,017
 		                                </td>
 <td class="mo_x">
 		                                    86,899
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-18</td>
 <td>월</td>
 <td>
 		                                    2,433
 		                                </td>
 <td>
 		                                    14
 		                                </td>
 <td>
 		                                    1,889
 		                                </td>
 <td>
 		                                    85
 		                                </td>
 <td>
 		                                    272,750
 		                                </td>
 <td class="mo_x">
 		                                    6,895
 		                                </td>
 <td class="mo_x">
 		                                    86,603
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-17</td>
 <td>일</td>
 <td>
 		                                    2,419
 		                                </td>
 <td>
 		                                    23
 		                                </td>
 <td>
 		                                    1,858
 		                                </td>
 <td>
 		                                    84
 		                                </td>
 <td>
 		                                    270,073
 		                                </td>
 <td class="mo_x">
 		                                    6,608
 		                                </td>
 <td class="mo_x">
 		                                    86,235
 		                                </td>
 </tr>
 <tr>
 <td>2021-01-16</td>
 <td>토</td>
 <td>
 		                                    2,396
 		                                </td>
 <td>
 		                                    37
 		                                </td>
 <td>
 		                                    1,846
 		                                </td>
 <td>
 		                                    84
 		                                </td>
 <td>
 		                                    267,148
 		                                </td>
 <td class="mo_x">
 		                                    5,805
 		                                </td>
 <td class="mo_x">
 		                                    85,938

In [6]:
temp[3]

<table class="table table-hover">
<caption>코로나 일자별 발생현황(날짜, 확진자수(누계,추가),완치자수(누계),사망자수(누계),검사결과:음성(누계),자가격리현황(격리중,격리해제(누계)))에 대한 표입니다.</caption>
<colgroup>
<col style="width:12%;"></col>
<col style="width:4%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
<col style="width:12%;"></col>
</colgroup>
<thead>
<tr>
<th colspan="2" rowspan="2" scope="col">날짜</th>
<th colspan="2" scope="col">확진자수</th>
<th rowspan="2" scope="col">완치자수(누계)</th>
<th rowspan="2" scope="col">사망자수(누계)</th>
<th rowspan="2" scope="col">검사결과<br>음성(누계)</br></th>
<th class="mo_x" colspan="2" scope="col">자가격리현황</th>
</tr>
<tr>
<th scope="col">누계</th>
<th scope="col">추가</th>
<th class="mo_x" scope="col">격리중</th>
<th class="mo_x" scope="col">격리해제<br>(누계)</br></th>
</tr>
</thead>
<tbody>
<tr>
<td>2021-02-06</td>
<td>토</td>
<td>
		                                    2,870
		                                </td>
<td>
		                                    2
		                                </td>
<td>
		                                    2,409
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    312,706
		                                </td>
<td class="mo_x">
		                                    5,281
		                                </td>
<td class="mo_x">
		                                    96,416
		                                </td>
</tr>
<tr>
<td>2021-02-05</td>
<td>금</td>
<td>
		                                    2,868
		                                </td>
<td>
		                                    15
		                                </td>
<td>
		                                    2,409
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    310,850
		                                </td>
<td class="mo_x">
		                                    5,275
		                                </td>
<td class="mo_x">
		                                    95,983
		                                </td>
</tr>
<tr>
<td>2021-02-04</td>
<td>목</td>
<td>
		                                    2,853
		                                </td>
<td>
		                                    34
		                                </td>
<td>
		                                    2,386
		                                </td>
<td>
		                                    96
		                                </td>
<td>
		                                    308,964
		                                </td>
<td class="mo_x">
		                                    5,289
		                                </td>
<td class="mo_x">
		                                    95,570
		                                </td>
</tr>
<tr>
<td>2021-02-03</td>
<td>수</td>
<td>
		                                    2,819
		                                </td>
<td>
		                                    24
		                                </td>
<td>
		                                    2,366
		                                </td>
<td>
		                                    95
		                                </td>
<td>
		                                    306,300
		                                </td>
<td class="mo_x">
		                                    5,273
		                                </td>
<td class="mo_x">
		                                    95,246
		                                </td>
</tr>
<tr>
<td>2021-02-02</td>
<td>화</td>
<td>
		                                    2,795
		                                </td>
<td>
		                                    21
		                                </td>
<td>
		                                    2,339
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    304,772
		                                </td>
<td class="mo_x">
		                                    5,269
		                                </td>
<td class="mo_x">
		                                    94,753
		                                </td>
</tr>
<tr>
<td>2021-02-01</td>
<td>월</td>
<td>
		                                    2,774
		                                </td>
<td>
		                                    14
		                                </td>
<td>
		                                    2,301
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    302,868
		                                </td>
<td class="mo_x">
		                                    5,370
		                                </td>
<td class="mo_x">
		                                    94,343
		                                </td>
</tr>
<tr>
<td>2021-01-31</td>
<td>일</td>
<td>
		                                    2,760
		                                </td>
<td>
		                                    9
		                                </td>
<td>
		                                    2,291
		                                </td>
<td>
		                                    94
		                                </td>
<td>
		                                    300,977
		                                </td>
<td class="mo_x">
		                                    5,216
		                                </td>
<td class="mo_x">
		                                    93,951
		                                </td>
</tr>
<tr>
<td>2021-01-30</td>
<td>토</td>
<td>
		                                    2,751
		                                </td>
<td>
		                                    26
		                                </td>
<td>
		                                    2,276
		                                </td>
<td>
		                                    93
		                                </td>
<td>
		                                    299,145
		                                </td>
<td class="mo_x">
		                                    5,119
		                                </td>
<td class="mo_x">
		                                    93,606
		                                </td>
</tr>
<tr>
<td>2021-01-29</td>
<td>금</td>
<td>
		                                    2,725
		                                </td>
<td>
		                                    22
		                                </td>
<td>
		                                    2,250
		                                </td>
<td>
		                                    93
		                                </td>
<td>
		                                    296,896
		                                </td>
<td class="mo_x">
		                                    5,319
		                                </td>
<td class="mo_x">
		                                    92,952
		                                </td>
</tr>
<tr>
<td>2021-01-28</td>
<td>목</td>
<td>
		                                    2,703
		                                </td>
<td>
		                                    33
		                                </td>
<td>
		                                    2,213
		                                </td>
<td>
		                                    92
		                                </td>
<td>
		                                    294,575
		                                </td>
<td class="mo_x">
		                                    5,101
		                                </td>
<td class="mo_x">
		                                    92,413
		                                </td>
</tr>
<tr>
<td>2021-01-27</td>
<td>수</td>
<td>
		                                    2,670
		                                </td>
<td>
		                                    52
		                                </td>
<td>
		                                    2,189
		                                </td>
<td>
		                                    90
		                                </td>
<td>
		                                    292,496
		                                </td>
<td class="mo_x">
		                                    5,353
		                                </td>
<td class="mo_x">
		                                    91,722
		                                </td>
</tr>
<tr>
<td>2021-01-26</td>
<td>화</td>
<td>
		                                    2,618
		                                </td>
<td>
		                                    31
		                                </td>
<td>
		                                    2,155
		                                </td>
<td>
		                                    89
		                                </td>
<td>
		                                    290,399
		                                </td>
<td class="mo_x">
		                                    5,840
		                                </td>
<td class="mo_x">
		                                    90,927
		                                </td>
</tr>
<tr>
<td>2021-01-25</td>
<td>월</td>
<td>
		                                    2,587
		                                </td>
<td>
		                                    24
		                                </td>
<td>
		                                    2,088
		                                </td>
<td>
		                                    89
		                                </td>
<td>
		                                    288,236
		                                </td>
<td class="mo_x">
		                                    6,171
		                                </td>
<td class="mo_x">
		                                    90,321
		                                </td>
</tr>
<tr>
<td>2021-01-24</td>
<td>일</td>
<td>
		                                    2,563
		                                </td>
<td>
		                                    23
		                                </td>
<td>
		                                    2,051
		                                </td>
<td>
		                                    88
		                                </td>
<td>
		                                    287,015
		                                </td>
<td class="mo_x">
		                                    6,166
		                                </td>
<td class="mo_x">
		                                    89,977
		                                </td>
</tr>
<tr>
<td>2021-01-23</td>
<td>토</td>
<td>
		                                    2,540
		                                </td>
<td>
		                                    21
		                                </td>
<td>
		                                    2,026
		                                </td>
<td>
		                                    88
		                                </td>
<td>
		                                    285,273
		                                </td>
<td class="mo_x">
		                                    6,131
		                                </td>
<td class="mo_x">
		                                    89,462
		                                </td>
</tr>
<tr>
<td>2021-01-22</td>
<td>금</td>
<td>
		                                    2,519
		                                </td>
<td>
		                                    35
		                                </td>
<td>
		                                    2,000
		                                </td>
<td>
		                                    87
		                                </td>
<td>
		                                    282,944
		                                </td>
<td class="mo_x">
		                                    6,417
		                                </td>
<td class="mo_x">
		                                    88,660
		                                </td>
</tr>
<tr>
<td>2021-01-21</td>
<td>목</td>
<td>
		                                    2,484
		                                </td>
<td>
		                                    22
		                                </td>
<td>
		                                    1,970
		                                </td>
<td>
		                                    87
		                                </td>
<td>
		                                    280,627
		                                </td>
<td class="mo_x">
		                                    6,918
		                                </td>
<td class="mo_x">
		                                    87,817
		                                </td>
</tr>
<tr>
<td>2021-01-20</td>
<td>수</td>
<td>
		                                    2,462
		                                </td>
<td>
		                                    18
		                                </td>
<td>
		                                    1,951
		                                </td>
<td>
		                                    85
		                                </td>
<td>
		                                    278,702
		                                </td>
<td class="mo_x">
		                                    6,958
		                                </td>
<td class="mo_x">
		                                    87,396
		                                </td>
</tr>
<tr>
<td>2021-01-19</td>
<td>화</td>
<td>
		                                    2,444
		                                </td>
<td>
		                                    11
		                                </td>
<td>
		                                    1,912
		                                </td>
<td>
		                                    85
		                                </td>
<td>
		                                    277,633
		                                </td>
<td class="mo_x">
		                                    7,017
		                                </td>
<td class="mo_x">
		                                    86,899
		                                </td>
</tr>
<tr>
<td>2021-01-18</td>
<td>월</td>
<td>
		                                    2,433
		                                </td>
<td>
		                                    14
		                                </td>
<td>
		                                    1,889
		                                </td>
<td>
		                                    85
		                                </td>
<td>
		                                    272,750
		                                </td>
<td class="mo_x">
		                                    6,895
		                                </td>
<td class="mo_x">
		                                    86,603
		                                </td>
</tr>
<tr>
<td>2021-01-17</td>
<td>일</td>
<td>
		                                    2,419
		                                </td>
<td>
		                                    23
		                                </td>
<td>
		                                    1,858
		                                </td>
<td>
		                                    84
		                                </td>
<td>
		                                    270,073
		                                </td>
<td class="mo_x">
		                                    6,608
		                                </td>
<td class="mo_x">
		                                    86,235
		                                </td>
</tr>
<tr>
<td>2021-01-16</td>
<td>토</td>
<td>
		                                    2,396
		                                </td>
<td>
		                                    37
		                                </td>
<td>
		                                    1,846
		                                </td>
<td>
		                                    84
		                                </td>
<td>
		                                    267,148
		                                </td>
<td class="mo_x">
		                                    5,805
		                                </td>
<td class="mo_x">
		                                    85,938
		                                </td>
</tr>
<tr>
<td>2021-01-15</td>
<td>금</td>
<td>
		                                    2,359
		                                </td>
<td>
		                                    59
		                                </td>
<td>
		                                    1,811
		                                </td>
<td>
		                                    84
		                                </td>
<td>
		                                    263,522
		                                </td>
<td class="mo_x">
		                                    5,271
		                                </td>
<td class="mo_x">
		                                    85,716
		                                </td>
</tr>
<tr>
<td>2021-01-14</td>
<td>목</td>
<td>
		                                    2,300
		                                </td>
<td>
		                                    45
		                                </td>
<td>
		                                    1,776
		                                </td>
<td>
		                                    82
		                                </td>
<td>
		                                    261,506
		                                </td>
<td class="mo_x">
		                                    5,387
		                                </td>
<td class="mo_x">
		                                    85,089
		                                </td>
</tr>
<tr>
<td>2021-01-13</td>
<td>수</td>
<td>
		                                    2,255
		                                </td>
<td>
		                                    42
		                                </td>
<td>
		                                    1,738
		                                </td>
<td>
		                                    81
		                                </td>
<td>
		                                    257,742
		                                </td>
<td class="mo_x">
		                                    5,466
		                                </td>
<td class="mo_x">
		                                    84,520
		                                </td>
</tr>
<tr>
<td>2021-01-12</td>
<td>화</td>
<td>
		                                    2,213
		                                </td>
<td>
		                                    25
		                                </td>
<td>
		                                    1,716
		                                </td>
<td>
		                                    78
		                                </td>
<td>
		                                    256,082
		                                </td>
<td class="mo_x">
		                                    5,826
		                                </td>
<td class="mo_x">
		                                    83,765
		                                </td>
</tr>
<tr>
<td>2021-01-11</td>
<td>월</td>
<td>
		                                    2,188
		                                </td>
<td>
		                                    17
		                                </td>
<td>
		                                    1,677
		                                </td>
<td>
		                                    77
		                                </td>
<td>
		                                    253,565
		                                </td>
<td class="mo_x">
		                                    6,006
		                                </td>
<td class="mo_x">
		                                    83,208
		                                </td>
</tr>
<tr>
<td>2021-01-10</td>
<td>일</td>
<td>
		                                    2,171
		                                </td>
<td>
		                                    19
		                                </td>
<td>
		                                    1,654
		                                </td>
<td>
		                                    74
		                                </td>
<td>
		                                    252,284
		                                </td>
<td class="mo_x">

In [7]:
p = parser.make2d(temp[3])

In [8]:
data = []
data = pd.DataFrame(p, columns=p[0])

In [9]:
data.columns

Index(['날짜', '날짜', '확진자수', '확진자수', '완치자수(누계)', '사망자수(누계)', '검사결과음성(누계)',
       '자가격리현황', '자가격리현황'],
      dtype='object')

In [10]:
data.columns = ['date', 'day', 'total_coronic', 'new_coronic', 'total_be_cured', 'total_deceased', 'negative_result',
                        'isolated', 'released_from_quarantine']

In [11]:
data.columns

Index(['date', 'day', 'total_coronic', 'new_coronic', 'total_be_cured',
       'total_deceased', 'negative_result', 'isolated',
       'released_from_quarantine'],
      dtype='object')

In [12]:
data.loc[0]

date                                날짜
day                                 날짜
total_coronic                     확진자수
new_coronic                       확진자수
total_be_cured                완치자수(누계)
total_deceased                사망자수(누계)
negative_result             검사결과음성(누계)
isolated                        자가격리현황
released_from_quarantine        자가격리현황
Name: 0, dtype: object

In [13]:
data = data.drop([data.index[0], data.index[1]])

In [14]:
data = data.reset_index(drop=True)
data.index

RangeIndex(start=0, stop=352, step=1)

In [15]:
data

,date,day,total_coronic,new_coronic,total_be_cured,total_deceased,negative_result,isolated,released_from_quarantine
0,2021-02-06,토,"2,870",2,"2,409",96,"312,706","5,281","96,416"
1,2021-02-05,금,"2,868",15,"2,409",96,"310,850","5,275","95,983"
2,2021-02-04,목,"2,853",34,"2,386",96,"308,964","5,289","95,570"
3,2021-02-03,수,"2,819",24,"2,366",95,"306,300","5,273","95,246"
4,2021-02-02,화,"2,795",21,"2,339",94,"304,772","5,269","94,753"
...,...,...,...,...,...,...,...,...,...
347,2020-02-25,화,51,13,0,0,"1,823",618,21
348,2020-02-24,월,38,22,0,0,"1,499",263,22
349,2020-02-23,일,16,11,0,0,"1,076",145,15
350,2020-02-22,토,5,3,0,0,"1,092",115,15
351,2020-02-21,금,2,2,0,0,613,15,15

In [17]:
data.to_csv("Busan_Covid-19.csv")