# 2. Variable Description
<br>

In [1]:
import numpy as np
import pandas as pd

In [2]:
import warnings

warnings.filterwarnings(action='ignore')
#  warnings.filterwarnings(action='default')

In [3]:
data = pd.read_csv("Busan_Covid-19.csv")

In [4]:
print(data.shape)
data.info()

(352, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352 entries, 0 to 351
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      352 non-null    object
 1   day                       352 non-null    object
 2   total_coronic             352 non-null    object
 3   new_coronic               352 non-null    int64
 4   total_be_cured            352 non-null    object
 5   total_deceased            352 non-null    int64
 6   negative_result           352 non-null    object
 7   isolated                  352 non-null    object
 8   released_from_quarantine  352 non-null    object
dtypes: int64(2), object(7)
memory usage: 24.9+ KB

### 총 9개의 Variable과 351개의 Observation으로 구성된 데이터 프레임

**date : 날짜**  

**day : 주차**

**total_coronic : 확진자수(누계)**

**new_coronic : 확진자수(신규)**

**total_be_cured : 완치자수(누계)**

**total_deceased : 사망자수(누계)**

**negative_result : 검사결과 음성(누계)**

**isolated : 격리중인 인원수**

**released_from_quarantine : 격리해제 인원수(누계)**

<br>

In [5]:
data

,date,day,total_coronic,new_coronic,total_be_cured,total_deceased,negative_result,isolated,released_from_quarantine
0,2021-02-06,토,"2,870",2,"2,409",96,"312,706","5,281","96,416"
1,2021-02-05,금,"2,868",15,"2,409",96,"310,850","5,275","95,983"
2,2021-02-04,목,"2,853",34,"2,386",96,"308,964","5,289","95,570"
3,2021-02-03,수,"2,819",24,"2,366",95,"306,300","5,273","95,246"
4,2021-02-02,화,"2,795",21,"2,339",94,"304,772","5,269","94,753"
...,...,...,...,...,...,...,...,...,...
347,2020-02-25,화,51,13,0,0,"1,823",618,21
348,2020-02-24,월,38,22,0,0,"1,499",263,22
349,2020-02-23,일,16,11,0,0,"1,076",145,15
350,2020-02-22,토,5,3,0,0,"1,092",115,15
351,2020-02-21,금,2,2,0,0,613,15,15

In [6]:
data.describe()

       new_coronic  total_deceased
count   352.000000      352.000000
mean      8.153409       14.315341
std      13.500841       24.724695
min       0.000000        0.000000
25%       0.000000        3.000000
50%       2.000000        3.000000
75%       8.000000       15.000000
max      82.000000       96.000000

In [7]:
data.dtypes

date                        object
day                         object
total_coronic               object
new_coronic                  int64
total_be_cured              object
total_deceased               int64
negative_result             object
isolated                    object
released_from_quarantine    object
dtype: object

In [8]:
data1 = data[['date', 'day']]
# data1

In [9]:
data1 = data1.astype(str)

In [10]:
data1.dtypes

date    object
day     object
dtype: object

In [11]:
data2 = data.iloc[:, 2]
data2

0      2,870
1      2,868
2      2,853
3      2,819
4      2,795
       ...
347       51
348       38
349       16
350        5
351        2
Name: total_coronic, Length: 352, dtype: object

In [12]:
data2 = data2.str.replace(',','').astype('int64')
data2 = data2.apply(pd.to_numeric)
data2

0      2870
1      2868
2      2853
3      2819
4      2795
       ...
347      51
348      38
349      16
350       5
351       2
Name: total_coronic, Length: 352, dtype: int64

In [13]:
data3 = data.iloc[:, 3]
data3

0       2
1      15
2      34
3      24
4      21
       ..
347    13
348    22
349    11
350     3
351     2
Name: new_coronic, Length: 352, dtype: int64

In [14]:
data4 = data.iloc[:, 4]
data4

0      2,409
1      2,409
2      2,386
3      2,366
4      2,339
       ...
347        0
348        0
349        0
350        0
351        0
Name: total_be_cured, Length: 352, dtype: object

In [15]:
data4 = data4.str.replace(',','').astype('int64')
data4 = data4.apply(pd.to_numeric)
data4

0      2409
1      2409
2      2386
3      2366
4      2339
       ...
347       0
348       0
349       0
350       0
351       0
Name: total_be_cured, Length: 352, dtype: int64

In [16]:
data5 = data.iloc[:, 5]
data5

0      96
1      96
2      96
3      95
4      94
       ..
347     0
348     0
349     0
350     0
351     0
Name: total_deceased, Length: 352, dtype: int64

In [17]:
data6 = data.iloc[:,6:9]
data6.dtypes

negative_result             object
isolated                    object
released_from_quarantine    object
dtype: object

In [18]:
for i in range(0,3):
    data6.iloc[:,i] = data6.iloc[:,i].str.replace(',','').astype('int64')

In [19]:
data6

     negative_result  isolated  released_from_quarantine
0             312706      5281                     96416
1             310850      5275                     95983
2             308964      5289                     95570
3             306300      5273                     95246
4             304772      5269                     94753
..               ...       ...                       ...
347             1823       618                        21
348             1499       263                        22
349             1076       145                        15
350             1092       115                        15
351              613        15                        15

[352 rows x 3 columns]

In [20]:
data6 = data6.apply(pd.to_numeric)

In [21]:
data = pd.concat([data1, data2, data3, data4, data5, data6], axis=1)

In [22]:
data

,date,day,total_coronic,new_coronic,total_be_cured,total_deceased,negative_result,isolated,released_from_quarantine
0,2021-02-06,토,2870,2,2409,96,312706,5281,96416
1,2021-02-05,금,2868,15,2409,96,310850,5275,95983
2,2021-02-04,목,2853,34,2386,96,308964,5289,95570
3,2021-02-03,수,2819,24,2366,95,306300,5273,95246
4,2021-02-02,화,2795,21,2339,94,304772,5269,94753
...,...,...,...,...,...,...,...,...,...
347,2020-02-25,화,51,13,0,0,1823,618,21
348,2020-02-24,월,38,22,0,0,1499,263,22
349,2020-02-23,일,16,11,0,0,1076,145,15
350,2020-02-22,토,5,3,0,0,1092,115,15
351,2020-02-21,금,2,2,0,0,613,15,15